  <%= form_with model: [task, comment], local: false do |f| %>
  <%= f.text_area :comment_text, rows: '5', placeholder: "コメントをしましょう！", size: "40x5" %>
  <%= f.hidden_field :task_id, value: task.id %>
  <p><%= f.submit "送信する" %></p>
  <% end %>
