<div style="text-align: center">
  <h3 class="my-5"><strong>習慣化のヒント</strong></h3>
  <p class="h4">* 小さな目標から徐々に変えていこう</p>
  <p class="h4">* まずは一つずつ習慣化させよう</p>
  <p class="h4">* 時間や内容を具体的に決めよう</p>
</div>
