<div style="text-align: center">
  <h3 class="my-5"><strong>習慣化のヒント</strong></h3>
  <p class="h4">
    <span style="background-color: #00bfff">　小さな目標から徐々に変えていこう　</span></p>
  <p class="h4">
    <span style="background-color: #00bfff">　まずは一つずつ習慣化させよう　</span></p>
  <p class="h4">
    <span style="background-color: #00bfff">　時間や内容を具体的に決めよう　</span></p>
</div>
