@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.main-content {
  background-image: url('../images/sozai_image_161779.png');
  height:800px;
}
.simple-calendar {
 .day {
    resize: vertical;
    width:30px;
 }
 .wday-0 {
   color: red;
 }
 .wday-1 {}
 .wday-2 {}
 .wday-3 {}
 .wday-4 {}
 .wday-5 {}
 .wday-6 {
   color: blue;
 }
 .today {}
 .past {}
 .future {}
 .start-date {}
 .prev-month {
   opacity: 0.5;
 }
 .next-month {
   opacity: 0.5;
 }
 .current-month {}
 .has-events {
   background: #ffa500;
 }
}

