<h1>みんなのタスク</h1>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>ニックネーム</th>
      <th>タスク</th>
    </tr>
  </thead>
  
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.member.nickname %></td>
      <td><%= link_to task.content, task_path(task.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
      
